In [5]:
import pandas as pd

In [6]:
data = [1, 2, 3, 4, 5]

In [7]:
data

[1, 2, 3, 4, 5]

In [8]:
type(data)

list

In [10]:
# make series form the list
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
type(s)

pandas.core.series.Series

In [17]:
df = pd.DataFrame(data, columns=["ID"])
df

   ID
0   1
1   2
2   3
3   4
4   5