## Statistical Functions in Pandas

In [7]:
import pandas as pd
url = 'https://raw.githubusercontent.com/rashakil-ds/Public-Datasets/main/Screen%20Time%20Data.csv'
df = pd.read_csv(url)
df.head()

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [9]:
df.shape

(28, 12)

In [10]:
df.index

RangeIndex(start=0, stop=28, step=1)

In [11]:
len(df)

28

In [13]:
# MAX
df['Total Screen Time '].max()

np.int64(198)

In [14]:
# MIN
df['Total Screen Time '].min()

np.int64(52)

In [15]:
# MEAN
df['Total Screen Time '].mean()

np.float64(113.25)

In [16]:
# STD
df['Total Screen Time '].std()

np.float64(43.562322320164775)

In [18]:
# Mode
df['Entertainment'].mode()

0    0
Name: Entertainment, dtype: int64

In [20]:
# value_counts
df['Entertainment'].value_counts()

Entertainment
0     20
1      4
3      2
32     1
9      1
Name: count, dtype: int64

In [22]:
# Quantile (25%)
df['Total Screen Time '].quantile(0.25)

np.float64(83.5)

In [23]:
# Quantile (25%)
df['Total Screen Time '].quantile(0.50)

np.float64(111.0)

In [24]:
# Quantile (75%)
df['Total Screen Time '].quantile(0.75)

np.float64(137.25)

In [25]:
# Quantile 100%
df['Total Screen Time '].quantile(1)

np.float64(198.0)

In [28]:
# All Funtion one commend
df.describe()

,index,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000
mean,13.500000,113.250000,60.714286,8.714286,14.821429,9.071429,1.285714,1.821429,0.214286,0.571429
std,8.225975,43.562322,22.853571,9.340700,13.754605,6.097532,3.952094,6.188721,0.568112,0.503953
min,0.000000,52.000000,25.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,6.750000,83.500000,41.750000,2.000000,4.750000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,13.500000,111.000000,58.000000,5.000000,9.000000,8.000000,0.000000,0.000000,0.000000,1.000000
75%,20.250000,137.250000,76.500000,13.500000,21.500000,15.000000,0.000000,1.000000,0.000000,1.000000
max,27.000000,198.000000,109.000000,40.000000,43.000000,22.000000,15.000000,32.000000,2.000000,1.000000