## Reading Data From CSV/Excel
    1. XLSX (Excel Workbook): This is a binary file format associated with Microsoft Excel. It can store multiple sheets with formatting, formulas, charts, and images.
    2. CSV (Comma-Separated Values): This is a plain text file where values are separated by commas. It contains only the data without any formatting, formulas, or other elements.

In [ ]:
# for excel
import pandas as pd
df = pd.read_excel('data.xlxs)

In [5]:
# for CSV
import pandas as pd
df = pd.read_csv('data.csv')
df

    id       name address  subject
0    1     Anower    feni     math
1    2      rohan    jime   bangle
2    3      sojev    feni  english
3    4      mikar    jime     math
4    5    kaelrer    feni  physics
5    6  alier mia    jime  english
6    7     kameor    feni     math
7    8     kadsfe    jime  physics
8    9   yojerwer    feni  english
9   10    aerewre    jime     math
10  11   ewrwerwe    feni  physics
11  12    opqwepw    jime  english
12  13    poineor    feni     math
13  14     kpaore    jime  physics
14  15    opjpoer    feni  english
15  16     poerer    jime     math